# Function Transformer

---

Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import FunctionTransformer

Create a custom function.<br>
*Note that the function must return the dataframe*

In [2]:
# Define a custom function to replace a value in a dataframe
def replace_value(df, column_name, old_value, new_value):
    df[column_name].replace(old_value, new_value, inplace=True)
    return df

In [3]:
# Create a FunctionTransformer object
replace_transformer = FunctionTransformer(replace_value, 
         kw_args={'column_name': 'value', 'old_value': 0, 'new_value': -1})

In [4]:
# Create a sample dataframe
df = pd.DataFrame({'value': [1, 2, 0, 4, 5, 0, 7, 8]})

In [5]:
# Apply the FunctionTransformer to the dataframe
df_new = replace_transformer.transform(df)

In [6]:
df_new

   value
0      1
1      2
2     -1
3      4
4      5
5     -1
6      7
7      8

---

In [7]:
import pandas as pd
from sklearn.preprocessing import FunctionTransformer

# create a sample dataframe
df = pd.DataFrame({'col1': [1, 2, 3, 4],
                   'col2': [10, 20, 30, 40]})

# define a custom function to log transform the data
def log_transform(data):
    return np.log(data)

# instantiate the FunctionTransformer
ft = FunctionTransformer(log_transform, validate=True)

# transform the dataframe
df_transformed = ft.fit_transform(df)

# check the result
print(df_transformed)

[[0.         2.30258509]
 [0.69314718 2.99573227]
 [1.09861229 3.40119738]
 [1.38629436 3.68887945]]